$navy: #224065;
$navy-light: #607c95;
$blue: #5093e0;

.modal {overflow: auto; display: block;
  &-prev, &-next {position: absolute; top: 50%; margin-top: -20px; font-size: 2.5rem; color: #fff; cursor: pointer;
    opacity: 0.6;
    &:hover {opacity: 1;}
    &[disabled]  {cursor: default; opacity: 0.1;
      &:hover {opacity: 0.1;}
    }
  }
  &-prev {left: -60px;}
  &-next {right: -60px;}
  @media (max-width: 767px) {
    &-prev {top: 170px; left: 10px; color: #000;}
    &-next {top: 170px; right: 10px; color: #000;}
    .row {display: block;}
    .col {width: 100%;}
  }
  .modal-body {padding: 40px; overflow: visible; max-height: 680px; width: 90%; max-width: 940px;
    border-radius: 8px; margin: 50px; position: absolute; top: 20px; left: 0; bottom: 20px; right: 0; margin: auto;
    @media (max-width: 767px) {padding: 50px 20px 20px; width: 100%; height: 100%;
      overflow: visible; margin: 0; border-radius: 0; position: static; max-height: none; height: auto;
      }
  }
  &-close {cursor: pointer; position: absolute; top: 15px; right: 25px; font-size: 30px; opacity: 0.4; color: #000;
    &:hover {opacity: 1;}
  }
}

.product {
  .col {overflow: hidden;}
  &-logo {margin-bottom: 2.5rem; box-shadow: 0 1px 4px rgba(0,0,0,0.2); border-radius: 4px; padding: 20px;
    // &-img {width: 100%; padding-top: 100%; margin: 0 auto; background-position: 50% 50%; background-size: contain;
      // cursor: pointer; background-repeat: no-repeat;
    &-img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }
    @media (max-width: 767px) {max-width: 250px; margin: 0 auto 2.5rem;}
  }
  &-main {font-size: 0.8rem; line-height: 130%; color: $navy;}
  &-scroll {margin-right: -80px; padding-right: 80px; overflow: auto; height: 600px;
    @media (max-width: 767px) {margin: 0; padding: 0; height: auto; overflow: visible;}
  }
  &-name {font-size: 2rem; line-height: 130%;}
  &-parent {font-weight: bold; margin-bottom: 0.8rem;
    a {color: $navy;}
  }
  &-category {color: $navy-light; margin-bottom: 0.8rem;
    &-separator {margin: 0 5px; font-size: 0.6rem;}
    a {color: $navy-light;}
  }
  &-description {font-size: 1.1rem; line-height: 130%; margin-bottom: 0.8rem; max-height: 300px;}
  &-properties {font-size: 0.8em; color: $navy; margin: 2rem 0;}
  &-property {margin-bottom: 0.5rem;
    &-value {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
    a {color: $blue; text-decoration: none;}
    @media (max-width: 767px) {
      &-name {display: block; width: 100%;}
      &-value {display: block; width: 100%;}
    }
  }
  &-repo {
    &-stars {color: #7b7b7b; font-size: 0.8rem; white-space: nowrap; line-height: 16px; display: inline-block;
      svg {width: 16px; height: 16px; display: inline-block; vertical-align: top;
        * {fill: #7b7b7b;}
      }
      .material-icons {font-size: 0.9rem; line-height: 16px; vertical-align: top; margin-right: 2px;}
    }
  }
}
