
        .logo-Nomad {
             background-image: url("../logos/Nomad.svg");
        }
    

        .logo-MicrosoftAzureServiceFabric {
             background-image: url("../logos/MicrosoftAzureServiceFabric.png");
        }
    

        .logo-AmazonECS {
             background-image: url("../logos/AmazonECS.png");
        }
    

        .logo-Consul {
             background-image: url("../logos/Consul.png");
        }
    

        .logo-etcd {
             background-image: url("../logos/etcd.png");
        }
    

        .logo-Kubernetes {
             background-image: url("../logos/Kubernetes.png");
        }
    

        .logo-DockerSwarm {
             background-image: url("../logos/DockerSwarm.png");
        }
    

        .logo-ContainerPilot {
             background-image: url("../logos/ContainerPilot.jpg");
        }
    

        .logo-CloudSleuth {
             background-image: url("../logos/CloudSleuth.jpg");
        }
    

        .logo-Mesos {
             background-image: url("../logos/Mesos.png");
        }
    

        .logo-Jaeger {
             background-image: url("../logos/Jaeger.png");
        }
    

        .logo-Zipkin {
             background-image: url("../logos/Zipkin.jpg");
        }
    

        .logo-Skywalking {
             background-image: url("../logos/Skywalking.jpg");
        }
    

        .logo-OpenTracing {
             background-image: url("../logos/OpenTracing.png");
        }
    

        .logo-SumoLogic {
             background-image: url("../logos/SumoLogic.png");
        }
    

        .logo-Graylog {
             background-image: url("../logos/Graylog.png");
        }
    

        .logo-Sematext {
             background-image: url("../logos/Sematext.png");
        }
    

        .logo-Elastic {
             background-image: url("../logos/Elastic.png");
        }
    

        .logo-Logz {
             background-image: url("../logos/Logz.png");
        }
    

        .logo-Zookeeper {
             background-image: url("../logos/Zookeeper.png");
        }
    

        .logo-Splunk {
             background-image: url("../logos/Splunk.png");
        }
    

        .logo-FluentD {
             background-image: url("../logos/FluentD.png");
        }
    

        .logo-Loggly {
             background-image: url("../logos/Loggly.png");
        }
    

        .logo-StackRox {
             background-image: url("../logos/StackRox.jpg");
        }
    

        .logo-Sentry {
             background-image: url("../logos/Sentry.png");
        }
    

        .logo-LogAnalytics {
             background-image: url("../logos/LogAnalytics.png");
        }
    

        .logo-Scope {
             background-image: url("../logos/Scope.png");
        }
    

        .logo-StackState {
             background-image: url("../logos/StackState.png");
        }
    

        .logo-Lighstep {
             background-image: url("../logos/Lighstep.png");
        }
    

        .logo-Sensu {
             background-image: url("../logos/Sensu.png");
        }
    

        .logo-Outlyer {
             background-image: url("../logos/Outlyer.png");
        }
    

        .logo-Centreon {
             background-image: url("../logos/Centreon.jpg");
        }
    

        .logo-WeaveCloud {
             background-image: url("../logos/WeaveCloud.jpg");
        }
    

        .logo-Grafana {
             background-image: url("../logos/Grafana.png");
        }
    

        .logo-Dynatrace {
             background-image: url("../logos/Dynatrace.png");
        }
    

        .logo-Meros {
             background-image: url("../logos/Meros.png");
        }
    

        .logo-OpBeat {
             background-image: url("../logos/OpBeat.png");
        }
    

        .logo-SignalFX {
             background-image: url("../logos/SignalFX.png");
        }
    

        .logo-ServerDensity {
             background-image: url("../logos/ServerDensity.png");
        }
    

        .logo-AppNeta {
             background-image: url("../logos/AppNeta.jpg");
        }
    

        .logo-OpenTSDB {
             background-image: url("../logos/OpenTSDB.png");
        }
    

        .logo-Cobe {
             background-image: url("../logos/Cobe.png");
        }
    

        .logo-OpsClarity {
             background-image: url("../logos/OpsClarity.png");
        }
    

        .logo-Zabbix {
             background-image: url("../logos/Zabbix.png");
        }
    

        .logo-Librato {
             background-image: url("../logos/Librato.jpg");
        }
    

        .logo-Graphite {
             background-image: url("../logos/Graphite.png");
        }
    

        .logo-Nagios {
             background-image: url("../logos/Nagios.png");
        }
    

        .logo-InfluxDB {
             background-image: url("../logos/InfluxDB.png");
        }
    

        .logo-Icinga {
             background-image: url("../logos/Icinga.png");
        }
    

        .logo-Wavefront {
             background-image: url("../logos/Wavefront.png");
        }
    

        .logo-Instana {
             background-image: url("../logos/Instana.png");
        }
    

        .logo-SysDig {
             background-image: url("../logos/SysDig.png");
        }
    

        .logo-Netsil {
             background-image: url("../logos/Netsil.jpg");
        }
    

        .logo-Axibase {
             background-image: url("../logos/Axibase.png");
        }
    

        .logo-CloudWATCH {
             background-image: url("../logos/CloudWATCH.png");
        }
    

        .logo-IronDB {
             background-image: url("../logos/IronDB.png");
        }
    

        .logo-Datadog {
             background-image: url("../logos/Datadog.png");
        }
    

        .logo-Prometheus {
             background-image: url("../logos/Prometheus.png");
        }
    

        .logo-CatchpointSystems {
             background-image: url("../logos/CatchpointSystems.png");
        }
    

        .logo-Stackdriver {
             background-image: url("../logos/Stackdriver.png");
        }
    

        .logo-Rocana {
             background-image: url("../logos/Rocana.png");
        }
    

        .logo-AppDynamics {
             background-image: url("../logos/AppDynamics.png");
        }
    

        .logo-AzureFunctions {
             background-image: url("../logos/AzureFunctions.jpg");
        }
    

        .logo-StatsDB {
             background-image: url("../logos/StatsDB.jpg");
        }
    

        .logo-NStack {
             background-image: url("../logos/NStack.jpg");
        }
    

        .logo-PubNub {
             background-image: url("../logos/PubNub.png");
        }
    

        .logo-Webtask {
             background-image: url("../logos/Webtask.png");
        }
    

        .logo-FirebaseBLOCKS {
             background-image: url("../logos/FirebaseBLOCKS.png");
        }
    

        .logo-Honeybadger {
             background-image: url("../logos/Honeybadger.png");
        }
    

        .logo-Fission {
             background-image: url("../logos/Fission.png");
        }
    

        .logo-Serverless {
             background-image: url("../logos/Serverless.png");
        }
    

        .logo-Apex {
             background-image: url("../logos/Apex.png");
        }
    

        .logo-OpenWhisk {
             background-image: url("../logos/OpenWhisk.png");
        }
    

        .logo-SUSECaasPlatform {
             background-image: url("../logos/SUSECaasPlatform.png");
        }
    

        .logo-OracleApplicationContainerCloud {
             background-image: url("../logos/OracleApplicationContainerCloud.png");
        }
    

        .logo-StackPointCloud {
             background-image: url("../logos/StackPointCloud.png");
        }
    

        .logo-Nuclio {
             background-image: url("../logos/Nuclio.png");
        }
    

        .logo-Portainer {
             background-image: url("../logos/Portainer.jpg");
        }
    

        .logo-OpenFAAS {
             background-image: url("../logos/OpenFAAS.png");
        }
    

        .logo-Lambda {
             background-image: url("../logos/Lambda.png");
        }
    

        .logo-Pusher {
             background-image: url("../logos/Pusher.png");
        }
    

        .logo-Scalingo {
             background-image: url("../logos/Scalingo.jpg");
        }
    

        .logo-Supergiant {
             background-image: url("../logos/Supergiant.png");
        }
    

        .logo-Kubeless {
             background-image: url("../logos/Kubeless.png");
        }
    

        .logo-GKE {
             background-image: url("../logos/GKE.png");
        }
    

        .logo-Deis {
             background-image: url("../logos/Deis.jpg");
        }
    

        .logo-Lightbend {
             background-image: url("../logos/Lightbend.png");
        }
    

        .logo-Convox {
             background-image: url("../logos/Convox.png");
        }
    

        .logo-ContainerShip {
             background-image: url("../logos/ContainerShip.png");
        }
    

        .logo-GalacticFog {
             background-image: url("../logos/GalacticFog.png");
        }
    

        .logo-ContainerLinux {
             background-image: url("../logos/ContainerLinux.jpg");
        }
    

        .logo-DockerCloud {
             background-image: url("../logos/DockerCloud.png");
        }
    

        .logo-Exoscale {
             background-image: url("../logos/Exoscale.jpg");
        }
    

        .logo-Moby {
             background-image: url("../logos/Moby.png");
        }
    

        .logo-Heroku {
             background-image: url("../logos/Heroku.png");
        }
    

        .logo-Navops {
             background-image: url("../logos/Navops.jpg");
        }
    

        .logo-Gravitational {
             background-image: url("../logos/Gravitational.png");
        }
    

        .logo-Hyper {
             background-image: url("../logos/Hyper.png");
        }
    

        .logo-JHipster {
             background-image: url("../logos/JHipster.jpg");
        }
    

        .logo-Kontena {
             background-image: url("../logos/Kontena.png");
        }
    

        .logo-Cloud66 {
             background-image: url("../logos/Cloud66.jpg");
        }
    

        .logo-Kubermatic {
             background-image: url("../logos/Kubermatic.png");
        }
    

        .logo-GiantSwarm {
             background-image: url("../logos/GiantSwarm.jpg");
        }
    

        .logo-Mirantis {
             background-image: url("../logos/Mirantis.png");
        }
    

        .logo-Ironio {
             background-image: url("../logos/Ironio.png");
        }
    

        .logo-goPaddle {
             background-image: url("../logos/goPaddle.png");
        }
    

        .logo-Empire {
             background-image: url("../logos/Empire.png");
        }
    

        .logo-Platformsh {
             background-image: url("../logos/Platformsh.png");
        }
    

        .logo-Datawire {
             background-image: url("../logos/Datawire.png");
        }
    

        .logo-Nirmata {
             background-image: url("../logos/Nirmata.png");
        }
    

        .logo-Kublr {
             background-image: url("../logos/Kublr.jpg");
        }
    

        .logo-Photon {
             background-image: url("../logos/Photon.jpg");
        }
    

        .logo-Rancher {
             background-image: url("../logos/Rancher.jpg");
        }
    

        .logo-Flynn {
             background-image: url("../logos/Flynn.svg");
        }
    

        .logo-Atomist {
             background-image: url("../logos/Atomist.jpg");
        }
    

        .logo-Apcera {
             background-image: url("../logos/Apcera.jpg");
        }
    

        .logo-Tectonic {
             background-image: url("../logos/Tectonic.png");
        }
    

        .logo-CloudFoundry {
             background-image: url("../logos/CloudFoundry.png");
        }
    

        .logo-OpenShift {
             background-image: url("../logos/OpenShift.png");
        }
    

        .logo-XLDeploy {
             background-image: url("../logos/XLDeploy.png");
        }
    

        .logo-Buildkite {
             background-image: url("../logos/Buildkite.jpg");
        }
    

        .logo-Mantl {
             background-image: url("../logos/Mantl.png");
        }
    

        .logo-Concourse {
             background-image: url("../logos/Concourse.jpg");
        }
    

        .logo-SolanoLabs {
             background-image: url("../logos/SolanoLabs.png");
        }
    

        .logo-Appveyor {
             background-image: url("../logos/Appveyor.jpg");
        }
    

        .logo-GitlabRunner {
             background-image: url("../logos/GitlabRunner.png");
        }
    

        .logo-Distelli {
             background-image: url("../logos/Distelli.png");
        }
    

        .logo-Shippable {
             background-image: url("../logos/Shippable.png");
        }
    

        .logo-BuddyBuild {
             background-image: url("../logos/BuddyBuild.png");
        }
    

        .logo-Spinnaker {
             background-image: url("../logos/Spinnaker.png");
        }
    

        .logo-Wercker {
             background-image: url("../logos/Wercker.png");
        }
    

        .logo-ContainerOps {
             background-image: url("../logos/ContainerOps.png");
        }
    

        .logo-Semaphore {
             background-image: url("../logos/Semaphore.png");
        }
    

        .logo-Codefresh {
             background-image: url("../logos/Codefresh.jpg");
        }
    

        .logo-Codeship {
             background-image: url("../logos/Codeship.png");
        }
    

        .logo-OctopusDeploy {
             background-image: url("../logos/OctopusDeploy.png");
        }
    

        .logo-CircleCI {
             background-image: url("../logos/CircleCI.png");
        }
    

        .logo-Drone {
             background-image: url("../logos/Drone.png");
        }
    

        .logo-Bamboo {
             background-image: url("../logos/Bamboo.png");
        }
    

        .logo-OpenAPI {
             background-image: url("../logos/OpenAPI.png");
        }
    

        .logo-Travis {
             background-image: url("../logos/Travis.jpg");
        }
    

        .logo-Brooklyn {
             background-image: url("../logos/Brooklyn.png");
        }
    

        .logo-Cloudbees {
             background-image: url("../logos/Cloudbees.jpg");
        }
    

        .logo-KubeVirt {
             background-image: url("../logos/KubeVirt.png");
        }
    

        .logo-Bitnami {
             background-image: url("../logos/Bitnami.png");
        }
    

        .logo-Packer {
             background-image: url("../logos/Packer.png");
        }
    

        .logo-BibBucket {
             background-image: url("../logos/BibBucket.png");
        }
    

        .logo-Jenkins {
             background-image: url("../logos/Jenkins.png");
        }
    

        .logo-Kinesis {
             background-image: url("../logos/Kinesis.png");
        }
    

        .logo-StreamSets {
             background-image: url("../logos/StreamSets.png");
        }
    

        .logo-MicrosoftVisualStudioTeamServices {
             background-image: url("../logos/MicrosoftVisualStudioTeamServices.jpg");
        }
    

        .logo-Compose {
             background-image: url("../logos/Compose.png");
        }
    

        .logo-NATS {
             background-image: url("../logos/NATS.png");
        }
    

        .logo-RabbitMQ {
             background-image: url("../logos/RabbitMQ.png");
        }
    

        .logo-Pulsar {
             background-image: url("../logos/Pulsar.png");
        }
    

        .logo-ApacheNiFi {
             background-image: url("../logos/ApacheNiFi.svg");
        }
    

        .logo-Flink {
             background-image: url("../logos/Flink.jpg");
        }
    

        .logo-ApacheStorm {
             background-image: url("../logos/ApacheStorm.png");
        }
    

        .logo-Dataflow {
             background-image: url("../logos/Dataflow.png");
        }
    

        .logo-Scylla {
             background-image: url("../logos/Scylla.svg");
        }
    

        .logo-Heron {
             background-image: url("../logos/Heron.png");
        }
    

        .logo-Kafka {
             background-image: url("../logos/Kafka.png");
        }
    

        .logo-Pachyderm {
             background-image: url("../logos/Pachyderm.png");
        }
    

        .logo-CarbonData {
             background-image: url("../logos/CarbonData.png");
        }
    

        .logo-MemSQL {
             background-image: url("../logos/MemSQL.png");
        }
    

        .logo-Qubole {
             background-image: url("../logos/Qubole.png");
        }
    

        .logo-Apex {
             background-image: url("../logos/Apex.png");
        }
    

        .logo-Vertica {
             background-image: url("../logos/Vertica.png");
        }
    

        .logo-SparkStreaming {
             background-image: url("../logos/SparkStreaming.png");
        }
    

        .logo-SQLDataWarehouse {
             background-image: url("../logos/SQLDataWarehouse.png");
        }
    

        .logo-Iguazio {
             background-image: url("../logos/Iguazio.jpg");
        }
    

        .logo-Snowflake {
             background-image: url("../logos/Snowflake.png");
        }
    

        .logo-Hadoop {
             background-image: url("../logos/Hadoop.png");
        }
    

        .logo-Vitess {
             background-image: url("../logos/Vitess.svg");
        }
    

        .logo-RethinkDB {
             background-image: url("../logos/RethinkDB.png");
        }
    

        .logo-CockroachDB {
             background-image: url("../logos/CockroachDB.png");
        }
    

        .logo-Druid {
             background-image: url("../logos/Druid.png");
        }
    

        .logo-BigchainDB {
             background-image: url("../logos/BigchainDB.jpg");
        }
    

        .logo-Couchbase {
             background-image: url("../logos/Couchbase.png");
        }
    

        .logo-NomsDB {
             background-image: url("../logos/NomsDB.jpg");
        }
    

        .logo-Crateio {
             background-image: url("../logos/Crateio.png");
        }
    

        .logo-SQLServer {
             background-image: url("../logos/SQLServer.png");
        }
    

        .logo-Cassandra {
             background-image: url("../logos/Cassandra.png");
        }
    

        .logo-Oracle {
             background-image: url("../logos/Oracle.png");
        }
    

        .logo-Postgres {
             background-image: url("../logos/Postgres.png");
        }
    

        .logo-MongoDB {
             background-image: url("../logos/MongoDB.png");
        }
    

        .logo-Redis {
             background-image: url("../logos/Redis.png");
        }
    

        .logo-MariaDB {
             background-image: url("../logos/MariaDB.png");
        }
    

        .logo-Weavenet {
             background-image: url("../logos/Weavenet.png");
        }
    

        .logo-IBMDB2 {
             background-image: url("../logos/IBMDB2.jpg");
        }
    

        .logo-Plumgrid {
             background-image: url("../logos/Plumgrid.jpg");
        }
    

        .logo-Sanproute {
             background-image: url("../logos/Sanproute.jpg");
        }
    

        .logo-Romana {
             background-image: url("../logos/Romana.png");
        }
    

        .logo-CNI {
             background-image: url("../logos/CNI.png");
        }
    

        .logo-MySQL {
             background-image: url("../logos/MySQL.png");
        }
    

        .logo-OpenvSwitch {
             background-image: url("../logos/OpenvSwitch.png");
        }
    

        .logo-NuageNetworks {
             background-image: url("../logos/NuageNetworks.png");
        }
    

        .logo-NSX {
             background-image: url("../logos/NSX.png");
        }
    

        .logo-OpenContrail {
             background-image: url("../logos/OpenContrail.png");
        }
    

        .logo-Midokura {
             background-image: url("../logos/Midokura.png");
        }
    

        .logo-Flannel {
             background-image: url("../logos/Flannel.png");
        }
    

        .logo-Cumulus {
             background-image: url("../logos/Cumulus.jpg");
        }
    

        .logo-TiDB {
             background-image: url("../logos/TiDB.png");
        }
    

        .logo-Cilium {
             background-image: url("../logos/Cilium.jpg");
        }
    

        .logo-Aviatrix {
             background-image: url("../logos/Aviatrix.png");
        }
    

        .logo-Canal {
             background-image: url("../logos/Canal.png");
        }
    

        .logo-BigSwitchNetworks {
             background-image: url("../logos/BigSwitchNetworks.png");
        }
    

        .logo-Contiv {
             background-image: url("../logos/Contiv.png");
        }
    

        .logo-IntelClearContainers {
             background-image: url("../logos/IntelClearContainers.jpg");
        }
    

        .logo-containerd {
             background-image: url("../logos/containerd.png");
        }
    

        .logo-crio {
             background-image: url("../logos/crio.png");
        }
    

        .logo-CSI {
             background-image: url("../logos/CSI.png");
        }
    

        .logo-RunV {
             background-image: url("../logos/RunV.png");
        }
    

        .logo-Aporeto {
             background-image: url("../logos/Aporeto.png");
        }
    

        .logo-ProjectCalico {
             background-image: url("../logos/ProjectCalico.png");
        }
    

        .logo-RunC {
             background-image: url("../logos/RunC.png");
        }
    

        .logo-lxd {
             background-image: url("../logos/lxd.png");
        }
    

        .logo-SmartOS {
             background-image: url("../logos/SmartOS.jpg");
        }
    

        .logo-Rkt {
             background-image: url("../logos/Rkt.png");
        }
    

        .logo-Swift {
             background-image: url("../logos/Swift.png");
        }
    

        .logo-Hedvig {
             background-image: url("../logos/Hedvig.png");
        }
    

        .logo-NetApp {
             background-image: url("../logos/NetApp.jpg");
        }
    

        .logo-DellEMC {
             background-image: url("../logos/DellEMC.png");
        }
    

        .logo-StorageOS {
             background-image: url("../logos/StorageOS.jpg");
        }
    

        .logo-OpenSDS {
             background-image: url("../logos/OpenSDS.png");
        }
    

        .logo-RexRay {
             background-image: url("../logos/RexRay.png");
        }
    

        .logo-LeoFS {
             background-image: url("../logos/LeoFS.jpg");
        }
    

        .logo-OpenEBS {
             background-image: url("../logos/OpenEBS.png");
        }
    

        .logo-Kasten {
             background-image: url("../logos/Kasten.png");
        }
    

        .logo-Datera {
             background-image: url("../logos/Datera.jpg");
        }
    

        .logo-Sheepdog {
             background-image: url("../logos/Sheepdog.jpg");
        }
    

        .logo-Springpath {
             background-image: url("../logos/Springpath.png");
        }
    

        .logo-RobinSystems {
             background-image: url("../logos/RobinSystems.png");
        }
    

        .logo-Rook {
             background-image: url("../logos/Rook.png");
        }
    

        .logo-ProjectHatchway {
             background-image: url("../logos/ProjectHatchway.png");
        }
    

        .logo-Diamanti {
             background-image: url("../logos/Diamanti.png");
        }
    

        .logo-Infinit {
             background-image: url("../logos/Infinit.png");
        }
    

        .logo-Portworx {
             background-image: url("../logos/Portworx.png");
        }
    

        .logo-Minio {
             background-image: url("../logos/Minio.png");
        }
    

        .logo-HDFS {
             background-image: url("../logos/HDFS.png");
        }
    

        .logo-libstorage {
             background-image: url("../logos/libstorage.jpg");
        }
    

        .logo-Ceph {
             background-image: url("../logos/Ceph.png");
        }
    

        .logo-PureStorage {
             background-image: url("../logos/PureStorage.png");
        }
    

        .logo-Spire {
             background-image: url("../logos/Spire.png");
        }
    

        .logo-SPIFFE {
             background-image: url("../logos/SPIFFE.svg");
        }
    

        .logo-Gluster {
             background-image: url("../logos/Gluster.png");
        }
    

        .logo-Knox {
             background-image: url("../logos/Knox.png");
        }
    

        .logo-OraclePolicyAutomation {
             background-image: url("../logos/OraclePolicyAutomation.jpg");
        }
    

        .logo-HashicorpVault {
             background-image: url("../logos/HashicorpVault.svg");
        }
    

        .logo-Keywhiz {
             background-image: url("../logos/Keywhiz.jpg");
        }
    

        .logo-Twistlock {
             background-image: url("../logos/Twistlock.png");
        }
    

        .logo-OpenSCAP {
             background-image: url("../logos/OpenSCAP.png");
        }
    

        .logo-Clair {
             background-image: url("../logos/Clair.jpg");
        }
    

        .logo-SonatypeNexus {
             background-image: url("../logos/SonatypeNexus.png");
        }
    

        .logo-Notary {
             background-image: url("../logos/Notary.png");
        }
    

        .logo-LyftConfidant {
             background-image: url("../logos/LyftConfidant.png");
        }
    

        .logo-TUF {
             background-image: url("../logos/TUF.png");
        }
    

        .logo-NeuVector {
             background-image: url("../logos/NeuVector.png");
        }
    

        .logo-BlackDuck {
             background-image: url("../logos/BlackDuck.png");
        }
    

        .logo-Rundeck {
             background-image: url("../logos/Rundeck.png");
        }
    

        .logo-SaltStack {
             background-image: url("../logos/SaltStack.jpg");
        }
    

        .logo-Chef {
             background-image: url("../logos/Chef.png");
        }
    

        .logo-Anchore {
             background-image: url("../logos/Anchore.jpg");
        }
    

        .logo-CFEngine {
             background-image: url("../logos/CFEngine.jpg");
        }
    

        .logo-Aqua {
             background-image: url("../logos/Aqua.png");
        }
    

        .logo-LinuxKit {
             background-image: url("../logos/LinuxKit.png");
        }
    

        .logo-Atomic {
             background-image: url("../logos/Atomic.png");
        }
    

        .logo-Portus {
             background-image: url("../logos/Portus.png");
        }
    

        .logo-Puppet {
             background-image: url("../logos/Puppet.jpg");
        }
    

        .logo-AmazonECR {
             background-image: url("../logos/AmazonECR.png");
        }
    

        .logo-Ansible {
             background-image: url("../logos/Ansible.png");
        }
    

        .logo-GoogleRegistry {
             background-image: url("../logos/GoogleRegistry.png");
        }
    

        .logo-AzureRegistry {
             background-image: url("../logos/AzureRegistry.jpg");
        }
    

        .logo-Harbor {
             background-image: url("../logos/Harbor.png");
        }
    

        .logo-ManageIQ {
             background-image: url("../logos/ManageIQ.png");
        }
    

        .logo-Quay {
             background-image: url("../logos/Quay.png");
        }
    

        .logo-Helm {
             background-image: url("../logos/Helm.png");
        }
    

        .logo-Cloudify {
             background-image: url("../logos/Cloudify.png");
        }
    

        .logo-CloudCoreo {
             background-image: url("../logos/CloudCoreo.png");
        }
    

        .logo-Infrakit {
             background-image: url("../logos/Infrakit.png");
        }
    

        .logo-Juju {
             background-image: url("../logos/Juju.png");
        }
    

        .logo-DockerRegistry {
             background-image: url("../logos/DockerRegistry.png");
        }
    

        .logo-CloudFormation {
             background-image: url("../logos/CloudFormation.png");
        }
    

        .logo-Bosh {
             background-image: url("../logos/Bosh.jpg");
        }
    

        .logo-DigitalRebar {
             background-image: url("../logos/DigitalRebar.png");
        }
    

        .logo-Terraform {
             background-image: url("../logos/Terraform.png");
        }
    

        .logo-OpenStack {
             background-image: url("../logos/OpenStack.png");
        }
    

        .logo-VMware {
             background-image: url("../logos/VMware.jpg");
        }
    

        .logo-Huawei {
             background-image: url("../logos/Huawei.png");
        }
    

        .logo-MAAS {
             background-image: url("../logos/MAAS.jpg");
        }
    

        .logo-Foreman {
             background-image: url("../logos/Foreman.png");
        }
    

        .logo-Scaleway {
             background-image: url("../logos/Scaleway.png");
        }
    

        .logo-AlibabaCloud {
             background-image: url("../logos/AlibabaCloud.png");
        }
    

        .logo-Joyent {
             background-image: url("../logos/Joyent.png");
        }
    

        .logo-TencentCloud {
             background-image: url("../logos/TencentCloud.jpg");
        }
    

        .logo-FujitsuK5 {
             background-image: url("../logos/FujitsuK5.jpg");
        }
    

        .logo-IBMCloud {
             background-image: url("../logos/IBMCloud.svg");
        }
    

        .logo-Kubicorn {
             background-image: url("../logos/Kubicorn.png");
        }
    

        .logo-AzureCloudServices {
             background-image: url("../logos/AzureCloudServices.jpg");
        }
    

        .logo-Packet {
             background-image: url("../logos/Packet.png");
        }
    

        .logo-AWS {
             background-image: url("../logos/AWS.png");
        }
    

        .logo-Ribbon {
             background-image: url("../logos/Ribbon.png");
        }
    

        .logo-OSS {
             background-image: url("../logos/OSS.jpg");
        }
    

        .logo-Zuul {
             background-image: url("../logos/Zuul.png");
        }
    

        .logo-Backplane {
             background-image: url("../logos/Backplane.png");
        }
    

        .logo-GoogleCloudPlatform {
             background-image: url("../logos/GoogleCloudPlatform.png");
        }
    

        .logo-Vamp {
             background-image: url("../logos/Vamp.jpg");
        }
    

        .logo-Kong {
             background-image: url("../logos/Kong.png");
        }
    

        .logo-F5 {
             background-image: url("../logos/F5.jpg");
        }
    

        .logo-ApacheThrift {
             background-image: url("../logos/ApacheThrift.png");
        }
    

        .logo-Hystrix {
             background-image: url("../logos/Hystrix.jpg");
        }
    

        .logo-gRPC {
             background-image: url("../logos/gRPC.png");
        }
    

        .logo-TurbineLabs {
             background-image: url("../logos/TurbineLabs.png");
        }
    

        .logo-Datawire {
             background-image: url("../logos/Datawire.png");
        }
    

        .logo-ApacheAvro {
             background-image: url("../logos/ApacheAvro.png");
        }
    

        .logo-Traefik {
             background-image: url("../logos/Traefik.png");
        }
    

        .logo-HAProxy {
             background-image: url("../logos/HAProxy.png");
        }
    

        .logo-WeaveFlux {
             background-image: url("../logos/WeaveFlux.jpg");
        }
    

        .logo-NGINX {
             background-image: url("../logos/NGINX.png");
        }
    

        .logo-AviNetworks {
             background-image: url("../logos/AviNetworks.png");
        }
    

        .logo-Eureka {
             background-image: url("../logos/Eureka.jpg");
        }
    

        .logo-SmartStack {
             background-image: url("../logos/SmartStack.jpg");
        }
    

        .logo-Registrator {
             background-image: url("../logos/Registrator.jpg");
        }
    

        .logo-3Scale {
             background-image: url("../logos/3Scale.png");
        }
    

        .logo-Linkerd {
             background-image: url("../logos/Linkerd.png");
        }
    

        .logo-Envoy {
             background-image: url("../logos/Envoy.png");
        }
    

        .logo-SkyDNS {
             background-image: url("../logos/SkyDNS.jpg");
        }
    

        .logo-Haret {
             background-image: url("../logos/Haret.jpg");
        }
    

        .logo-CoreDNS {
             background-image: url("../logos/CoreDNS.png");
        }
    