
        .logo-etcd {
             background-image: url("../logos/etcd.png");
        }
    

        .logo-microsoft-azure-service-fabric {
             background-image: url("../logos/microsoft-azure-service-fabric.png");
        }
    

        .logo-nomad {
             background-image: url("../logos/nomad.svg");
        }
    

        .logo-amazon-ecs {
             background-image: url("../logos/amazon-ecs.png");
        }
    

        .logo-consul {
             background-image: url("../logos/consul.png");
        }
    

        .logo-kubernetes {
             background-image: url("../logos/kubernetes.png");
        }
    

        .logo-mesos {
             background-image: url("../logos/mesos.png");
        }
    

        .logo-docker-swarm {
             background-image: url("../logos/docker-swarm.png");
        }
    

        .logo-cloud-sleuth {
             background-image: url("../logos/cloud-sleuth.png");
        }
    

        .logo-container-pilot {
             background-image: url("../logos/container-pilot.png");
        }
    

        .logo-jaeger {
             background-image: url("../logos/jaeger.png");
        }
    

        .logo-zipkin {
             background-image: url("../logos/zipkin.png");
        }
    

        .logo-open-tracing {
             background-image: url("../logos/open-tracing.png");
        }
    

        .logo-graylog {
             background-image: url("../logos/graylog.png");
        }
    

        .logo-skywalking {
             background-image: url("../logos/skywalking.png");
        }
    

        .logo-sumo-logic {
             background-image: url("../logos/sumo-logic.png");
        }
    

        .logo-loom-systems {
             background-image: url("../logos/loom-systems.png");
        }
    

        .logo-zookeeper {
             background-image: url("../logos/zookeeper.png");
        }
    

        .logo-logz {
             background-image: url("../logos/logz.png");
        }
    

        .logo-weave-cloud {
             background-image: url("../logos/weave-cloud.png");
        }
    

        .logo-elastic {
             background-image: url("../logos/elastic.png");
        }
    

        .logo-sematext {
             background-image: url("../logos/sematext.png");
        }
    

        .logo-stack-rox {
             background-image: url("../logos/stack-rox.png");
        }
    

        .logo-sentry {
             background-image: url("../logos/sentry.png");
        }
    

        .logo-scope {
             background-image: url("../logos/scope.png");
        }
    

        .logo-log-analytics {
             background-image: url("../logos/log-analytics.png");
        }
    

        .logo-splunk {
             background-image: url("../logos/splunk.png");
        }
    

        .logo-loggly {
             background-image: url("../logos/loggly.png");
        }
    

        .logo-fluent-d {
             background-image: url("../logos/fluent-d.png");
        }
    

        .logo-sensu {
             background-image: url("../logos/sensu.png");
        }
    

        .logo-lighstep {
             background-image: url("../logos/lighstep.png");
        }
    

        .logo-outlyer {
             background-image: url("../logos/outlyer.png");
        }
    

        .logo-centreon {
             background-image: url("../logos/centreon.png");
        }
    

        .logo-stack-state {
             background-image: url("../logos/stack-state.png");
        }
    

        .logo-grafana {
             background-image: url("../logos/grafana.png");
        }
    

        .logo-dynatrace {
             background-image: url("../logos/dynatrace.png");
        }
    

        .logo-meros {
             background-image: url("../logos/meros.png");
        }
    

        .logo-nodesource {
             background-image: url("../logos/nodesource.png");
        }
    

        .logo-op-beat {
             background-image: url("../logos/op-beat.png");
        }
    

        .logo-signal-fx {
             background-image: url("../logos/signal-fx.png");
        }
    

        .logo-app-neta {
             background-image: url("../logos/app-neta.png");
        }
    

        .logo-server-density {
             background-image: url("../logos/server-density.png");
        }
    

        .logo-open-tsdb {
             background-image: url("../logos/open-tsdb.png");
        }
    

        .logo-cobe {
             background-image: url("../logos/cobe.png");
        }
    

        .logo-librato {
             background-image: url("../logos/librato.png");
        }
    

        .logo-ops-clarity {
             background-image: url("../logos/ops-clarity.png");
        }
    

        .logo-zabbix {
             background-image: url("../logos/zabbix.png");
        }
    

        .logo-influx-db {
             background-image: url("../logos/influx-db.png");
        }
    

        .logo-nagios {
             background-image: url("../logos/nagios.png");
        }
    

        .logo-instana {
             background-image: url("../logos/instana.png");
        }
    

        .logo-graphite {
             background-image: url("../logos/graphite.png");
        }
    

        .logo-icinga {
             background-image: url("../logos/icinga.svg");
        }
    

        .logo-rocana {
             background-image: url("../logos/rocana.png");
        }
    

        .logo-netsil {
             background-image: url("../logos/netsil.png");
        }
    

        .logo-sys-dig {
             background-image: url("../logos/sys-dig.png");
        }
    

        .logo-wavefront {
             background-image: url("../logos/wavefront.png");
        }
    

        .logo-iron-db {
             background-image: url("../logos/iron-db.png");
        }
    

        .logo-honeybadger {
             background-image: url("../logos/honeybadger.svg");
        }
    

        .logo-datadog {
             background-image: url("../logos/datadog.png");
        }
    

        .logo-axibase {
             background-image: url("../logos/axibase.png");
        }
    

        .logo-cloud-watch {
             background-image: url("../logos/cloud-watch.png");
        }
    

        .logo-catchpoint-systems {
             background-image: url("../logos/catchpoint-systems.png");
        }
    

        .logo-prometheus {
             background-image: url("../logos/prometheus.png");
        }
    

        .logo-stackdriver {
             background-image: url("../logos/stackdriver.png");
        }
    

        .logo-app-dynamics {
             background-image: url("../logos/app-dynamics.png");
        }
    

        .logo-stats-db {
             background-image: url("../logos/stats-db.png");
        }
    

        .logo-new-relic {
             background-image: url("../logos/new-relic.png");
        }
    

        .logo-azure-functions {
             background-image: url("../logos/azure-functions.png");
        }
    

        .logo-n-stack {
             background-image: url("../logos/n-stack.png");
        }
    

        .logo-pub-nub {
             background-image: url("../logos/pub-nub.png");
        }
    

        .logo-firebase-blocks {
             background-image: url("../logos/firebase-blocks.png");
        }
    

        .logo-webtask {
             background-image: url("../logos/webtask.png");
        }
    

        .logo-fission {
             background-image: url("../logos/fission.png");
        }
    

        .logo-serverless {
             background-image: url("../logos/serverless.png");
        }
    

        .logo-apex {
             background-image: url("../logos/apex.png");
        }
    

        .logo-oracle-application-container-cloud {
             background-image: url("../logos/oracle-application-container-cloud.png");
        }
    

        .logo-open-whisk {
             background-image: url("../logos/open-whisk.png");
        }
    

        .logo-stack-point-cloud {
             background-image: url("../logos/stack-point-cloud.png");
        }
    

        .logo-suse-caas-platform {
             background-image: url("../logos/suse-caas-platform.png");
        }
    

        .logo-google-cloud-functions {
             background-image: url("../logos/google-cloud-functions.png");
        }
    

        .logo-open-faas {
             background-image: url("../logos/open-faas.png");
        }
    

        .logo-nuclio {
             background-image: url("../logos/nuclio.png");
        }
    

        .logo-remind {
             background-image: url("../logos/remind.png");
        }
    

        .logo-scalingo {
             background-image: url("../logos/scalingo.png");
        }
    

        .logo-pusher {
             background-image: url("../logos/pusher.png");
        }
    

        .logo-lambda {
             background-image: url("../logos/lambda.png");
        }
    

        .logo-portainer {
             background-image: url("../logos/portainer.png");
        }
    

        .logo-gke {
             background-image: url("../logos/gke.png");
        }
    

        .logo-supergiant {
             background-image: url("../logos/supergiant.png");
        }
    

        .logo-kubeless {
             background-image: url("../logos/kubeless.png");
        }
    

        .logo-deis {
             background-image: url("../logos/deis.png");
        }
    

        .logo-convox {
             background-image: url("../logos/convox.png");
        }
    

        .logo-tsuru {
             background-image: url("../logos/tsuru.png");
        }
    

        .logo-lightbend {
             background-image: url("../logos/lightbend.png");
        }
    

        .logo-container-linux {
             background-image: url("../logos/container-linux.png");
        }
    

        .logo-galactic-fog {
             background-image: url("../logos/galactic-fog.png");
        }
    

        .logo-moby {
             background-image: url("../logos/moby.png");
        }
    

        .logo-container-ship {
             background-image: url("../logos/container-ship.png");
        }
    

        .logo-docker-cloud {
             background-image: url("../logos/docker-cloud.png");
        }
    

        .logo-exoscale {
             background-image: url("../logos/exoscale.png");
        }
    

        .logo-j-hipster {
             background-image: url("../logos/j-hipster.png");
        }
    

        .logo-gravitational {
             background-image: url("../logos/gravitational.png");
        }
    

        .logo-navops {
             background-image: url("../logos/navops.png");
        }
    

        .logo-hyper {
             background-image: url("../logos/hyper.png");
        }
    

        .logo-kontena {
             background-image: url("../logos/kontena.png");
        }
    

        .logo-kubermatic {
             background-image: url("../logos/kubermatic.png");
        }
    

        .logo-mantl {
             background-image: url("../logos/mantl.png");
        }
    

        .logo-heroku {
             background-image: url("../logos/heroku.png");
        }
    

        .logo-cloud66 {
             background-image: url("../logos/cloud66.png");
        }
    

        .logo-go-paddle {
             background-image: url("../logos/go-paddle.png");
        }
    

        .logo-iron-io {
             background-image: url("../logos/iron-io.png");
        }
    

        .logo-giant-swarm {
             background-image: url("../logos/giant-swarm.png");
        }
    

        .logo-empire {
             background-image: url("../logos/empire.png");
        }
    

        .logo-mirantis {
             background-image: url("../logos/mirantis.png");
        }
    

        .logo-datawire {
             background-image: url("../logos/datawire.png");
        }
    

        .logo-platform-sh {
             background-image: url("../logos/platform-sh.png");
        }
    

        .logo-kublr {
             background-image: url("../logos/kublr.png");
        }
    

        .logo-platform9 {
             background-image: url("../logos/platform9.png");
        }
    

        .logo-atomist {
             background-image: url("../logos/atomist.png");
        }
    

        .logo-nirmata {
             background-image: url("../logos/nirmata.png");
        }
    

        .logo-paa-sta {
             background-image: url("../logos/paa-sta.png");
        }
    

        .logo-photon {
             background-image: url("../logos/photon.png");
        }
    

        .logo-flynn {
             background-image: url("../logos/flynn.svg");
        }
    

        .logo-rancher {
             background-image: url("../logos/rancher.png");
        }
    

        .logo-apprenda {
             background-image: url("../logos/apprenda.png");
        }
    

        .logo-apcera {
             background-image: url("../logos/apcera.png");
        }
    

        .logo-tectonic {
             background-image: url("../logos/tectonic.png");
        }
    

        .logo-cloud-foundry {
             background-image: url("../logos/cloud-foundry.png");
        }
    

        .logo-appveyor {
             background-image: url("../logos/appveyor.png");
        }
    

        .logo-buildkite {
             background-image: url("../logos/buildkite.png");
        }
    

        .logo-xl-deploy {
             background-image: url("../logos/xl-deploy.png");
        }
    

        .logo-open-shift {
             background-image: url("../logos/open-shift.png");
        }
    

        .logo-concourse {
             background-image: url("../logos/concourse.png");
        }
    

        .logo-gitlab-runner {
             background-image: url("../logos/gitlab-runner.png");
        }
    

        .logo-dc-os {
             background-image: url("../logos/dc-os.png");
        }
    

        .logo-solano-labs {
             background-image: url("../logos/solano-labs.png");
        }
    

        .logo-distelli {
             background-image: url("../logos/distelli.png");
        }
    

        .logo-shippable {
             background-image: url("../logos/shippable.png");
        }
    

        .logo-container-ops {
             background-image: url("../logos/container-ops.png");
        }
    

        .logo-wercker {
             background-image: url("../logos/wercker.png");
        }
    

        .logo-semaphore {
             background-image: url("../logos/semaphore.png");
        }
    

        .logo-spinnaker {
             background-image: url("../logos/spinnaker.png");
        }
    

        .logo-codefresh {
             background-image: url("../logos/codefresh.png");
        }
    

        .logo-buddy-build {
             background-image: url("../logos/buddy-build.png");
        }
    

        .logo-codeship {
             background-image: url("../logos/codeship.png");
        }
    

        .logo-drone {
             background-image: url("../logos/drone.png");
        }
    

        .logo-cloudbees {
             background-image: url("../logos/cloudbees.png");
        }
    

        .logo-bamboo {
             background-image: url("../logos/bamboo.png");
        }
    

        .logo-circle-ci {
             background-image: url("../logos/circle-ci.png");
        }
    

        .logo-octopus-deploy {
             background-image: url("../logos/octopus-deploy.png");
        }
    

        .logo-open-api {
             background-image: url("../logos/open-api.png");
        }
    

        .logo-travis {
             background-image: url("../logos/travis.png");
        }
    

        .logo-habitat {
             background-image: url("../logos/habitat.png");
        }
    

        .logo-brooklyn {
             background-image: url("../logos/brooklyn.png");
        }
    

        .logo-packer {
             background-image: url("../logos/packer.png");
        }
    

        .logo-bitnami {
             background-image: url("../logos/bitnami.png");
        }
    

        .logo-bib-bucket {
             background-image: url("../logos/bib-bucket.png");
        }
    

        .logo-git-lab {
             background-image: url("../logos/git-lab.png");
        }
    

        .logo-git-hub {
             background-image: url("../logos/git-hub.svg");
        }
    

        .logo-kube-virt {
             background-image: url("../logos/kube-virt.png");
        }
    

        .logo-microsoft-visual-studio-team-services {
             background-image: url("../logos/microsoft-visual-studio-team-services.png");
        }
    

        .logo-kinesis {
             background-image: url("../logos/kinesis.png");
        }
    

        .logo-jenkins {
             background-image: url("../logos/jenkins.png");
        }
    

        .logo-nats {
             background-image: url("../logos/nats.png");
        }
    

        .logo-rabbit-mq {
             background-image: url("../logos/rabbit-mq.png");
        }
    

        .logo-stream-sets {
             background-image: url("../logos/stream-sets.png");
        }
    

        .logo-flink {
             background-image: url("../logos/flink.png");
        }
    

        .logo-apache-storm {
             background-image: url("../logos/apache-storm.png");
        }
    

        .logo-dataflow {
             background-image: url("../logos/dataflow.png");
        }
    

        .logo-heron {
             background-image: url("../logos/heron.png");
        }
    

        .logo-compose {
             background-image: url("../logos/compose.png");
        }
    

        .logo-pulsar {
             background-image: url("../logos/pulsar.png");
        }
    

        .logo-pachyderm {
             background-image: url("../logos/pachyderm.png");
        }
    

        .logo-kafka {
             background-image: url("../logos/kafka.png");
        }
    

        .logo-scylla {
             background-image: url("../logos/scylla.png");
        }
    

        .logo-apex {
             background-image: url("../logos/apex.png");
        }
    

        .logo-mem-sql {
             background-image: url("../logos/mem-sql.png");
        }
    

        .logo-iguazio {
             background-image: url("../logos/iguazio.png");
        }
    

        .logo-carbon-data {
             background-image: url("../logos/carbon-data.png");
        }
    

        .logo-spark-streaming {
             background-image: url("../logos/spark-streaming.png");
        }
    

        .logo-vertica {
             background-image: url("../logos/vertica.png");
        }
    

        .logo-qubole {
             background-image: url("../logos/qubole.png");
        }
    

        .logo-sql-data-warehouse {
             background-image: url("../logos/sql-data-warehouse.png");
        }
    

        .logo-apache-ni-fi {
             background-image: url("../logos/apache-ni-fi.svg");
        }
    

        .logo-rethink-db {
             background-image: url("../logos/rethink-db.png");
        }
    

        .logo-snowflake {
             background-image: url("../logos/snowflake.png");
        }
    

        .logo-vitess {
             background-image: url("../logos/vitess.svg");
        }
    

        .logo-cockroach-db {
             background-image: url("../logos/cockroach-db.png");
        }
    

        .logo-hadoop {
             background-image: url("../logos/hadoop.png");
        }
    

        .logo-couchbase {
             background-image: url("../logos/couchbase.png");
        }
    

        .logo-noms-db {
             background-image: url("../logos/noms-db.png");
        }
    

        .logo-crate-io {
             background-image: url("../logos/crate-io.png");
        }
    

        .logo-bigchain-db {
             background-image: url("../logos/bigchain-db.png");
        }
    

        .logo-cassandra {
             background-image: url("../logos/cassandra.png");
        }
    

        .logo-druid {
             background-image: url("../logos/druid.png");
        }
    

        .logo-oracle {
             background-image: url("../logos/oracle.png");
        }
    

        .logo-sql-server {
             background-image: url("../logos/sql-server.png");
        }
    

        .logo-weavenet {
             background-image: url("../logos/weavenet.png");
        }
    

        .logo-postgres {
             background-image: url("../logos/postgres.png");
        }
    

        .logo-maria-db {
             background-image: url("../logos/maria-db.png");
        }
    

        .logo-redis {
             background-image: url("../logos/redis.png");
        }
    

        .logo-mongo-db {
             background-image: url("../logos/mongo-db.png");
        }
    

        .logo-ibm-db2 {
             background-image: url("../logos/ibm-db2.png");
        }
    

        .logo-cni {
             background-image: url("../logos/cni.png");
        }
    

        .logo-plumgrid {
             background-image: url("../logos/plumgrid.png");
        }
    

        .logo-sanproute {
             background-image: url("../logos/sanproute.png");
        }
    

        .logo-romana {
             background-image: url("../logos/romana.png");
        }
    

        .logo-my-sql {
             background-image: url("../logos/my-sql.png");
        }
    

        .logo-open-v-switch {
             background-image: url("../logos/open-v-switch.png");
        }
    

        .logo-nuage-networks {
             background-image: url("../logos/nuage-networks.png");
        }
    

        .logo-nsx {
             background-image: url("../logos/nsx.png");
        }
    

        .logo-midokura {
             background-image: url("../logos/midokura.png");
        }
    

        .logo-open-contrail {
             background-image: url("../logos/open-contrail.png");
        }
    

        .logo-aviatrix {
             background-image: url("../logos/aviatrix.png");
        }
    

        .logo-cumulus {
             background-image: url("../logos/cumulus.png");
        }
    

        .logo-big-switch-networks {
             background-image: url("../logos/big-switch-networks.png");
        }
    

        .logo-cilium {
             background-image: url("../logos/cilium.png");
        }
    

        .logo-flannel {
             background-image: url("../logos/flannel.png");
        }
    

        .logo-canal {
             background-image: url("../logos/canal.png");
        }
    

        .logo-intel-clear-containers {
             background-image: url("../logos/intel-clear-containers.png");
        }
    

        .logo-contiv {
             background-image: url("../logos/contiv.png");
        }
    

        .logo-containerd {
             background-image: url("../logos/containerd.png");
        }
    

        .logo-cri-o {
             background-image: url("../logos/cri-o.png");
        }
    

        .logo-csi {
             background-image: url("../logos/csi.png");
        }
    

        .logo-run-v {
             background-image: url("../logos/run-v.png");
        }
    

        .logo-lxd {
             background-image: url("../logos/lxd.png");
        }
    

        .logo-smart-os {
             background-image: url("../logos/smart-os.png");
        }
    

        .logo-run-c {
             background-image: url("../logos/run-c.png");
        }
    

        .logo-aporeto {
             background-image: url("../logos/aporeto.png");
        }
    

        .logo-rkt {
             background-image: url("../logos/rkt.png");
        }
    

        .logo-swift {
             background-image: url("../logos/swift.png");
        }
    

        .logo-project-calico {
             background-image: url("../logos/project-calico.png");
        }
    

        .logo-dell-emc {
             background-image: url("../logos/dell-emc.png");
        }
    

        .logo-hedvig {
             background-image: url("../logos/hedvig.png");
        }
    

        .logo-net-app {
             background-image: url("../logos/net-app.png");
        }
    

        .logo-open-sds {
             background-image: url("../logos/open-sds.png");
        }
    

        .logo-storage-os {
             background-image: url("../logos/storage-os.png");
        }
    

        .logo-leo-fs {
             background-image: url("../logos/leo-fs.png");
        }
    

        .logo-open-ebs {
             background-image: url("../logos/open-ebs.png");
        }
    

        .logo-rex-ray {
             background-image: url("../logos/rex-ray.png");
        }
    

        .logo-sheepdog {
             background-image: url("../logos/sheepdog.png");
        }
    

        .logo-datera {
             background-image: url("../logos/datera.png");
        }
    

        .logo-kasten {
             background-image: url("../logos/kasten.png");
        }
    

        .logo-springpath {
             background-image: url("../logos/springpath.png");
        }
    

        .logo-robin-systems {
             background-image: url("../logos/robin-systems.png");
        }
    

        .logo-ti-db {
             background-image: url("../logos/ti-db.png");
        }
    

        .logo-manta {
             background-image: url("../logos/manta.png");
        }
    

        .logo-rook {
             background-image: url("../logos/rook.png");
        }
    

        .logo-project-hatchway {
             background-image: url("../logos/project-hatchway.png");
        }
    

        .logo-hdfs {
             background-image: url("../logos/hdfs.png");
        }
    

        .logo-infinit {
             background-image: url("../logos/infinit.png");
        }
    

        .logo-diamanti {
             background-image: url("../logos/diamanti.png");
        }
    

        .logo-minio {
             background-image: url("../logos/minio.png");
        }
    

        .logo-portworx {
             background-image: url("../logos/portworx.png");
        }
    

        .logo-ceph {
             background-image: url("../logos/ceph.png");
        }
    

        .logo-spire {
             background-image: url("../logos/spire.png");
        }
    

        .logo-gluster {
             background-image: url("../logos/gluster.png");
        }
    

        .logo-spiffe {
             background-image: url("../logos/spiffe.svg");
        }
    

        .logo-libstorage {
             background-image: url("../logos/libstorage.png");
        }
    

        .logo-hashicorp-vault {
             background-image: url("../logos/hashicorp-vault.svg");
        }
    

        .logo-oracle-policy-automation {
             background-image: url("../logos/oracle-policy-automation.png");
        }
    

        .logo-knox {
             background-image: url("../logos/knox.png");
        }
    

        .logo-pure-storage {
             background-image: url("../logos/pure-storage.png");
        }
    

        .logo-keywhiz {
             background-image: url("../logos/keywhiz.png");
        }
    

        .logo-twistlock {
             background-image: url("../logos/twistlock.png");
        }
    

        .logo-clair {
             background-image: url("../logos/clair.png");
        }
    

        .logo-sonatype-nexus {
             background-image: url("../logos/sonatype-nexus.png");
        }
    

        .logo-neu-vector {
             background-image: url("../logos/neu-vector.png");
        }
    

        .logo-lyft-confidant {
             background-image: url("../logos/lyft-confidant.png");
        }
    

        .logo-notary {
             background-image: url("../logos/notary.png");
        }
    

        .logo-tuf {
             background-image: url("../logos/tuf.png");
        }
    

        .logo-open-scap {
             background-image: url("../logos/open-scap.png");
        }
    

        .logo-black-duck {
             background-image: url("../logos/black-duck.png");
        }
    

        .logo-rundeck {
             background-image: url("../logos/rundeck.png");
        }
    

        .logo-salt-stack {
             background-image: url("../logos/salt-stack.png");
        }
    

        .logo-chef {
             background-image: url("../logos/chef.png");
        }
    

        .logo-cf-engine {
             background-image: url("../logos/cf-engine.png");
        }
    

        .logo-anchore {
             background-image: url("../logos/anchore.png");
        }
    

        .logo-puppet {
             background-image: url("../logos/puppet.png");
        }
    

        .logo-linux-kit {
             background-image: url("../logos/linux-kit.png");
        }
    

        .logo-portus {
             background-image: url("../logos/portus.png");
        }
    

        .logo-aqua {
             background-image: url("../logos/aqua.png");
        }
    

        .logo-amazon-ecr {
             background-image: url("../logos/amazon-ecr.png");
        }
    

        .logo-harbor {
             background-image: url("../logos/harbor.png");
        }
    

        .logo-manage-iq {
             background-image: url("../logos/manage-iq.png");
        }
    

        .logo-atomic {
             background-image: url("../logos/atomic.png");
        }
    

        .logo-juju {
             background-image: url("../logos/juju.png");
        }
    

        .logo-google-registry {
             background-image: url("../logos/google-registry.png");
        }
    

        .logo-ansible {
             background-image: url("../logos/ansible.png");
        }
    

        .logo-quay {
             background-image: url("../logos/quay.png");
        }
    

        .logo-helm {
             background-image: url("../logos/helm.png");
        }
    

        .logo-cloud-coreo {
             background-image: url("../logos/cloud-coreo.png");
        }
    

        .logo-cloud-formation {
             background-image: url("../logos/cloud-formation.png");
        }
    

        .logo-bosh {
             background-image: url("../logos/bosh.png");
        }
    

        .logo-cloudify {
             background-image: url("../logos/cloudify.png");
        }
    

        .logo-infrakit {
             background-image: url("../logos/infrakit.png");
        }
    

        .logo-azure-registry {
             background-image: url("../logos/azure-registry.png");
        }
    

        .logo-digital-rebar {
             background-image: url("../logos/digital-rebar.png");
        }
    

        .logo-terraform {
             background-image: url("../logos/terraform.png");
        }
    

        .logo-maas {
             background-image: url("../logos/maas.png");
        }
    

        .logo-foreman {
             background-image: url("../logos/foreman.png");
        }
    

        .logo-v-mware {
             background-image: url("../logos/v-mware.png");
        }
    

        .logo-huawei {
             background-image: url("../logos/huawei.png");
        }
    

        .logo-joyent {
             background-image: url("../logos/joyent.png");
        }
    

        .logo-open-stack {
             background-image: url("../logos/open-stack.png");
        }
    

        .logo-alibaba-cloud {
             background-image: url("../logos/alibaba-cloud.png");
        }
    

        .logo-fujitsu-k5 {
             background-image: url("../logos/fujitsu-k5.png");
        }
    

        .logo-tencent-cloud {
             background-image: url("../logos/tencent-cloud.png");
        }
    

        .logo-oracle-cloud {
             background-image: url("../logos/oracle-cloud.png");
        }
    

        .logo-scaleway {
             background-image: url("../logos/scaleway.png");
        }
    

        .logo-ibm-cloud {
             background-image: url("../logos/ibm-cloud.svg");
        }
    

        .logo-packet {
             background-image: url("../logos/packet.png");
        }
    

        .logo-digital-ocean {
             background-image: url("../logos/digital-ocean.png");
        }
    

        .logo-kubicorn {
             background-image: url("../logos/kubicorn.png");
        }
    

        .logo-azure-cloud-services {
             background-image: url("../logos/azure-cloud-services.png");
        }
    

        .logo-aws {
             background-image: url("../logos/aws.png");
        }
    

        .logo-ribbon {
             background-image: url("../logos/ribbon.png");
        }
    

        .logo-oss {
             background-image: url("../logos/oss.png");
        }
    

        .logo-backplane {
             background-image: url("../logos/backplane.png");
        }
    

        .logo-zuul {
             background-image: url("../logos/zuul.png");
        }
    

        .logo-google-cloud-platform {
             background-image: url("../logos/google-cloud-platform.png");
        }
    

        .logo-hystrix {
             background-image: url("../logos/hystrix.png");
        }
    

        .logo-kong {
             background-image: url("../logos/kong.png");
        }
    

        .logo-weave-flux {
             background-image: url("../logos/weave-flux.png");
        }
    

        .logo-vamp {
             background-image: url("../logos/vamp.png");
        }
    

        .logo-f5 {
             background-image: url("../logos/f5.png");
        }
    

        .logo-g-rpc {
             background-image: url("../logos/g-rpc.png");
        }
    

        .logo-apache-thrift {
             background-image: url("../logos/apache-thrift.png");
        }
    

        .logo-docker-registry {
             background-image: url("../logos/docker-registry.png");
        }
    

        .logo-datawire {
             background-image: url("../logos/datawire.png");
        }
    

        .logo-turbine-labs {
             background-image: url("../logos/turbine-labs.png");
        }
    

        .logo-traefik {
             background-image: url("../logos/traefik.png");
        }
    

        .logo-ha-proxy {
             background-image: url("../logos/ha-proxy.png");
        }
    

        .logo-nginx {
             background-image: url("../logos/nginx.png");
        }
    

        .logo-envoy {
             background-image: url("../logos/envoy.png");
        }
    

        .logo-linkerd {
             background-image: url("../logos/linkerd.png");
        }
    

        .logo-eureka {
             background-image: url("../logos/eureka.png");
        }
    

        .logo-smart-stack {
             background-image: url("../logos/smart-stack.png");
        }
    

        .logo-hyperbahn {
             background-image: url("../logos/hyperbahn.png");
        }
    

        .logo-registrator {
             background-image: url("../logos/registrator.png");
        }
    

        .logo-3-scale {
             background-image: url("../logos/3-scale.png");
        }
    

        .logo-avi-networks {
             background-image: url("../logos/avi-networks.png");
        }
    

        .logo-haret {
             background-image: url("../logos/haret.png");
        }
    

        .logo-apache-avro {
             background-image: url("../logos/apache-avro.png");
        }
    

        .logo-core-dns {
             background-image: url("../logos/core-dns.png");
        }
    

        .logo-sky-dns {
             background-image: url("../logos/sky-dns.png");
        }
    