body{
  background-color:#F4F4f4 !important;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
  overflow:hidden;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-left:20px;
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #aaa;
}

.content-sidebar {
  flex: 150px 0 0;
  padding: 13px 0 0 10px;

}

.sh_wrapper{
  position: relative;
  margin: 7px;
  font-size: 1em;
  background-color: #e8e8e8;
  border-radius: 10px;
  div{
    font-size:0.8em !important;
  }

}

.disclaimer{
  padding:0 0 10px 10px;
  color: #9b9b9b;
  font-size:0.8em;
  a{
    color:#366fa8;
  }
}

.sidebar{
  legend{
    font-size:0.6em !important;
  }
  fieldset{
    margin-top:5px;
  }
}

/* grid */
.row {margin-left: -20px; margin-right: -20px; display: flex;}
.col {padding: 0 20px;
  &-25 {width: 25%;}
  &-33 {width: 33.33%;}
  &-50 {width: 50%;}
  &-66 {width: 66.66%;}
  &-75 {width: 75%;}
}

/* tags */
.tag {display: inline-block; vertical-align: top; white-space: nowrap; border-radius: 4px; font-size: 0;
  border: #4e92df 1px solid; margin: 0 10px 10px 0;
  &-name {padding: 3px 6px; font-size: 0.6rem; font-weight: bold; display: inline-block; border-radius: 3px 0 0 3px;}
  &-value {padding: 3px 6px; font-size: 0.6rem; display: inline-block;}
  &-blue {border-color: #4e92df; color: #4e92df;
    .tag-name {background: #e5effa;}
  }
  &-grass {border-color: #7fbc40; color: #7fbc40;
    .tag-name {background: #d5eac0;}
  }
  &-green {border-color: #26a195; color: #26a195;
    .tag-name {background: #dff2f0;}
  }

}

.mosaic{
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 4px 6px;
  border-radius:2px;
  box-shadow: 1px 1px 3px #d6d6d6;
  border: 1px solid #FFFFFF;

  &.inception{
    border: 4px solid #d1f7ff;
  }
  &.incubating{
    border: 4px solid #00cbff;
  }
  &.graduated{
    border: 4px solid #3570a8;
  }

  .logo_wrapper{
    padding:10px;
    height: 70%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
      width: 153px;
      height: 100px;
      border-radius:4px 4px 0 0;
    }

  }

  &-info {
    height: 30%;
    font-size: 0.6em;
    border-width:1px 0 0 0;
    border-style: solid;
    border-color: #dedede;
    padding:10px;
    display: flex;
    justify-content: space-between;
    color:#9B9B9B;
  }
  h5 {
    margin:0 0 5px 0 !important;
    font-size: 1em;
  }
  &-stars {line-height: 15px; text-align: right;
    .material-icons {line-height: 15px; vertical-align: top;}
  }
  &-funding {white-space: nowrap;}
}

.header_container{
  display:flex;
  align-items: center;
  left: 0;
  width:100%;

  .header{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;

    .logos{
      display: flex;
      justify-content: space-between;
      width:100%;

      div{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90%;
        height: 30px;
        padding:10px 0;

        &.cncf_logo{
          background-image: url(./assets/cncf.png);
          min-width: 200px;

        }

        &.info {
          margin-top: -32px;
          padding-left: 20px;
          height: auto;

        }

        &.cncf_landscape{
          background-image: url(./assets/cncf-landscape.png);
          min-width: 150px;
        }

      }

    }

  }

  .title{
    display:flex;
    flex-direction: column;
    font-size:1.3em;
    color: #6d7e90 !important;
    align-items: flex-end;
    padding: 10px 0 0 20px;

    a{
      color:#949494;
    }

    p{
      color:#CCC;
      font-size:0.6em;
      margin:3px 0;
    }

  }
}

@media (max-width: 300px) {
  .header_container {
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;
  }
}
