
.wrapper{
  background-color:#F4F4f4;
  overflow:hidden;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.sh_wrapper{
  position: relative;
  height: 80px;
  margin: 20px;
}

.mosaic{
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 175px;
  height: 175px;
  margin: 4px 6px;
  border-radius:2px;
  box-shadow: 1px 1px 3px #d6d6d6;

  .logo_wrapper{
    padding:10px;
    height: 70%;
    width: 100%;
    cursor: pointer;

    .logo{
      width: 153px;
      height: 100px;
      border-radius:4px 4px 0 0;
    }

  }


  .info{
    height: 30%;
    font-size: 0.6em;
    border-width:1px 0 0 0;
    border-style: dotted;
    border-color:#CCC;
    padding:10px;


    h5{
      margin:0 0 5px 0 !important;
      width:100%;
      font-size:1em;
    }
    & > div, & > div span{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color:#9B9B9B;
    }
  }
}

.header_container{
  display:flex;
  align-items: center;
  left: 0;
  width:100%;

  .header{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 30px;

    .logos{
      display: flex;
      justify-content: space-between;
      width:100%;

      div{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90%;
        height: 40px;
        padding:10px 0;

        &.cncf_logo{
          background-image: url(./assets/cncf.png);
          min-width: 200px;

        }

        &.cncf_landscape{
          background-image: url(./assets/cncf-landscape.png);
          min-width: 150px;
        }

      }

    }

  }

  .title{
    display:flex;
    flex-direction: column;
    font-size:1.3em;
    color: #6d7e90 !important;
    align-items: flex-end;
    padding: 10px 0 0 20px;

    a{
      color:#949494;
    }

    p{
      color:#CCC;
      font-size:0.6em;
      margin:3px 0;
    }

  }

}

@media (max-width: 300px) {

  .header_container {
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;

  }

}
